;	Copyright (c) 2019 pj1985 
;
;	This code is part of the Raspberry framework (https://github.com/pj1985/rberry)
;	
;	You can redistribute it and/or modify it under the terms of the GNU General Public License
;	as published by the Free Software Foundation, either version 3 of the License, or later.
;	
;	You should have received a copy of the GNU General Public License along
;	with Raspberry.  See http://www.gnu.org/licenses/
;
[globals]
; Where the framework autoloader will look for app files
AUTOLOAD=app/
; Remove next line (if you ever plan to put this app in production)
DEBUG=2
; Mode of the framework - DEVEL/PROD. PROD mode is only tu run applications
APP_MODE=DEVEL
; Where errors are logged
LOGS=logs/
; 0-no log, 1-error, 2-warning, 3-info, 4-trace, 5-trace-with-data
LOG_LEVEL=5
; Our custom error handler, so we also get a pretty page for our users
ONERROR="gen_common->error"
; Where the framework will look for templates and related HTML-support files
UI=ui/
; Where uploads will be saved
UPLOADS=uploads/
;project prefix
GC_PROJ=rberry
; Site description
site="GUI"
; DB - MySQL
db="mysql:host=<host>;port=<port>;dbname=<user>"
; DB - Oracle:
; db="oci:dbname=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1522)) (CONNECT_DATA = (SID = <sid>)));"
; DB - MSSQL
; db="sqlsrv:Server=<host>;Database=<database>"
;DB Type: ORACLE, MSSQL,..
db_type=MYSQL
; SQL Template
sql_template=sql/sql.ini
; User ID and password for accessing the back-end
user_id=<user>
; Password: crypt('secret')
password="<password"
; Number of hours before session expires
expiry=4
; How timestamps look like on the pages
time_format="d M Y h:ia"
; Max size (in KiB) of uploaded file
max_kb=8192
; MIME types allowed for uploaded files
allowed="image/gif","image/jpeg","image/png"
; Display eurocookie notices
eurocookie=TRUE
; Framework paths
path_gui=/rberry/gui
path_core=/rberry
path_apps=/rberry/assets
path_ui=/rberry/ui
path_ui_templates=/rberry/ui/templates
path_sql=../db/sql
main_boot_css=/rberry/ui/css/boot.css
; Bootstrap 4.3
path_jquery=https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js
path_popper=https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js
path_bootstrap_min=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js
path_charts=https://cdn.jsdelivr.net/npm/chart.js@2.8.0
; Font awesome 4.3 
path_font_awesome=http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css
; Chart js
path_chart_js=https://cdn.jsdelivr.net/npm/chart.js@2.8.0
